@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

body {
    background-color: rgb(16, 16, 17);
    /* font-family: 'JetBrains Mono', monospace; */
}

.logo {
    visibility: hidden;
}
.logo::after {
    content: 'Samarium';
    visibility: visible;
    font-weight: bold;
    color: aliceblue;
  display: block;
  position: absolute;
  background-color: rgb(35, 130, 255);
  padding: 5px;
}

h1 {
    font-size: 1.3rem;
}

.content {
    /* font-family: 'JetBrains Mono', monospace; */
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}
